.display-text {
    /* border: 1px solid black; */
    font-size: 30px;
    text-align: center;
    color: rgb(98,79,95);
}
.input-section {
    /* border: 1px solid black; */
    margin-top: 35px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.input-container {
    /* border: 1px solid black; */
    height: 100%;
    width: 200px;
}
.input-noun {
    /* border: 1px dashed black; */
    display: block;
}
.input {
    height: 35px;
    width: 96%;
    border: 2px solid rgb(39,35,51);
    border-radius: 5px;
}
.input-adjective {
    /* border: 1px dotted black; */
    display: block;
    margin-top: 15px;
}
.btn-container {
    /* border: 1px solid black; */
    margin-top: 35px;
    text-align: center;
}
.submit-btn {
    /* border: 1px solid black; */
    height: 30px;
    width: 150px;
    border: 2px solid rgb(39,35,51);
    border-radius: 5px;
    color: rgb(98,79,95);
}